*
{
    box-sizing: border-box;
}
body
{
    background: linear-gradient(-45deg, rgb(27,36,59), rgb(25,33,53));
    margin: 0px;
    background-attachment: fixed;
    font-family: sans-serif;
}
#nav
{
    background-color: rgb(0,0,0, 0.88);
    text-align: center;
    width: 100%;
    padding: 0;
    top: 0;
    position: fixed;  
    line-height: 50px;
	font-size: 1.5rem;
    color: rgb(225,225,225);
	text-align: center;
	vertical-align: middle;
    text-shadow: 1px 1px 1px black;
}
#nav ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr;
}
#nav ul li
{
    text-decoration: none;
}
#nav a
{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
	background-color: black;
}
#glowna
{
    grid-column-start: 1;
    position: relative;
	background-color: black;
}
#glowna a:hover
{
    background-color: rgb(22,22,22);
    transition: 200ms ease-in-out;
}
#menu
{
    grid-column-start: 2;
    position: relative;
	background-color: black;
}
#menu:hover
{
    background-color: rgb(22,22,22);
    transition: 200ms ease-in-out;
}
#menu ul li a:hover
{
    background-color: rgb(22,22,22);
}
#menu ul li a
{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
}
#menu ul
{
    background-color: rgb(22,22,22);
    position: absolute;
    font-size: 20px;
    width: 100%;
    line-height: 2rem;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
#menu ul:hover
{
    display: block;
}
#menu:hover ul
{
    display: block;
}
#tekst
{
    background-color: rgb(0,0,0, 0.11);
    text-shadow: 1px 1px 1px black;
    color: rgb(225,225,225);
    font-size: 1.1rem;
    max-width: 1500px;
    border: solid 1px #1b2727;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 1%;
	border-radius: 8px;
    scroll-behavior: smooth;
    line-height: 1.4;
	display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px auto auto;
}
#tekst h1
{
	text-align: center;
}
#tekstUp
{
    padding: 2%;
	text-align: justify;
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: rgb(0,0,0, 0.33);
	margin: 10px;
}
#tekstL
{
    padding: 2%;
	text-align: justify;
	grid-column-start: 1;
	grid-row-start: 2;
	background-color: rgb(0,0,0, 0.33);
	margin: 10px;
}
#tekstL img
{
	width: 75%;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
#tekstR
{
    padding: 2%;
	text-align: justify;
	grid-column-start: 2;
	grid-row-start: 2;
	background-color: rgb(0,0,0, 0.33);
	margin: 10px;
	padding-left: 20%;
	padding-right: 20%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.pole
{
	display: grid;
	place-items: center;
	border-bottom: 2px solid black;
	font-size: 2rem;
	background-color: rgb(25,33,53);
	color: rgb(225,225,225);
}
.tttMenu
{
	display: grid;
	place-items: center;
	border-bottom: 2px solid black;
	font-size: 1.5rem;
	background-color: rgb(25,33,53);
	color: rgb(225,225,225);
}
.Komunikat
{
	display: grid;
	place-items: center;
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	font-size: 2rem;
}
#tekstB
{
    padding: 2%;
	text-align: justify;
	grid-column-start: span 2;
	grid-row-start: 3;
	background-color: rgb(0,0,0, 0.33);
	margin: 10px;
}
